/*
 * Configuracao base de recursos por label
 */
process {
    errorStrategy = 'retry'
    maxRetries    = 1

    withLabel: 'process_low' {
        cpus   = 2
        memory = '4.GB'
        time   = '1.h'
    }
    withLabel: 'process_medium' {
        cpus   = 4
        memory = '8.GB'
        time   = '4.h'
    }
    withLabel: 'process_gpu' {
        cpus   = 8
        memory = '16.GB'
        time   = '48.h'
    }
    withLabel: 'process_gpu_long' {
        cpus   = 8
        memory = '32.GB'
        time   = '120.h'
    }
    // MMGBSA: sem GPU, mas pode ser longo dependendo do nº de frames
    withLabel: 'process_mmgbsa' {
        cpus   = 8
        memory = '16.GB'
        time   = '72.h'
    }
}
